.bar {
   position: relative;
   margin-bottom: 16px;
}

.nav{
    font-size: 12px;
}

.inkBar{
    height: 1px;
    background: red;
}

.tab{
    float: left;
    list-style: none;
    margin-right: 24px;
    padding: 10px;
    text-decoration: none;
    color: #666;
}

.tabActive{
    color: red;

}
.panel{
    display: none;
}
.content{
    display: block;
}
.contentActive{
    display: block;
}